YII_DEBUG=true
YII_ENV=dev

APP_NAME=tms-cuaca

# Konfigurasi Database
DB_HOST=db
DB_NAME=tms_cuaca_db
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=
APP_COOKIE_VALIDATION_KEY=

DB_CONTAINER_NAME=tms_cuaca_db
WEB_CONTAINER_NAME=tms_cuaca_web
PHPMYADMIN_CONTAINER_NAME=tms_cuaca_phpmyadmin

# DATETIME Format
LOCALE=id-ID
DEFAULTTIMEZONE=Asia/Jakarta
TIMEZONE=Asia/Jakarta
DATEFORMAT="php:d-m-Y"
DATETIMEFORMAT="php:d-m-Y H:i:s"
TIMEFORMAT="php:H:i:s"